{{ define "main" }}
<!--
  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
-->
{{ $pages := slice }}

{{ range .Pages }}
  {{ if .Params.render.lists.display_in_lists }}
    {{ $pages = $pages | append . }}
  {{ end }}
{{ end }}

<main class="md">
  <div class="container my-5">
    {{ .Content }}
    <h2>{{ .Title }}</h2>
    {{ partial "pages/events/list-with-mini-cards.html" $pages }}
  </div>
</main>
{{ end }}