// SPDX-License-Identifier: Apache-2.0
// SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>

@mixin underline($underline-color: $secondary, $animated: false) {
  --underline-color: #{$underline-color};
  background-image: linear-gradient(to right, var(--underline-color) 100%, var(--underline-color) 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 1px;
  transition: $transition-slow;

  @if $animated {
    &:hover,
    &:active {
      background-size: 100% 1px;
    }
  }
}
