{{ define "main" }}
<!--
  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
-->
<main class="md events-index">
  {{ $currentYear    := printf "%d" .Params.events.year }}
  {{ $allSections    := where .Sections "Params.render.exclude" "ne" true }}
  {{ $currentPath    := printf "events/%s/_index.md" $currentYear }}
  {{ $currentSection := index (where $allSections "File.Path" $currentPath) 0 }}
  {{ $pastSections   := where $allSections "File.Path" "ne" $currentPath }}

  {{ if $currentSection }}
    <!-- #region: Next events -->
    <section class="container my-5">
      <div class="row g-4">
        {{ $pages := sort $currentSection.Pages "Weight" "Title" "Date" }}
        {{ range $pages }}
          {{ $event := . }}
          <div class="col-12 col-md-6 col-xl-4">
            <a href="{{ .RelPermalink }}">
              <div class="d-flex flex-column flex-md-column-reverse event-card card h-100 shadow-sm p-3 bg-light">
                {{ with $event.Params.render.images.preview }}
                  <img src="{{ . }}" class="card-img-top img-fluid" alt="{{ $event.Title }}">
                {{ end }}
                <div class="card-body d-flex flex-column">
                  <h3 class="card-title"><span>{{ $event.Title }}</span></h3>
                  <!-- #region: Event dates -->
                  {{ with $event.Params.event.dates }}
                    <p class="card-text small text-muted mb-1">{{ . }}</p>
                  {{ else }}
                    <p class="card-text small mb-1">
                      ⚠️ Missing <code>event dates</code> in front matter.<br>
                      Please open: <code>content/{{ $event.File.Path }}</code><br>
                      And add dates in the top section. For example:<br>
                      <code>params:<br>&nbsp;&nbsp;event:<br>&nbsp;&nbsp;&nbsp;&nbsp;dates: "December 5–7, {{ $currentYear }}"</code>
                    </p>
                  {{ end }}
                  <!-- #endregion -->
                  <!-- #region: Event location -->
                  {{ with $event.Params.event.location }}
                    <p class="card-text">{{ . }}</p>
                  {{ else }}
                    <p class="card-text small">
                      ⚠️ Missing <code>event location</code> in front matter.<br>
                      Please open: <code>content/{{ $event.File.Path }}</code><br>
                      And add location in the top section. For example:<br>
                      <code>params:<br>&nbsp;&nbsp;event:<br>&nbsp;&nbsp;&nbsp;&nbsp;...<br>&nbsp;&nbsp;&nbsp;&nbsp;location: "Berlin, Germany"</code><br>
                      or<br>
                      <code>params:<br>&nbsp;&nbsp;event:<br>&nbsp;&nbsp;&nbsp;&nbsp;...<br>&nbsp;&nbsp;&nbsp;&nbsp;location: "online"</code>
                    </p>
                  {{ end }}
                </div>
                <!-- #endregion -->
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    </section>
    <!-- #endregion -->
  {{ end }}

  {{ if gt (len $pastSections) 0 }}
    <!-- #region: Past events -->
    <section class="past-events my-5 container">
      <h2>Previous events</h2>
      <ul>
        {{ $sortedPastSections := sort $pastSections "File.Dir" "desc" }}
        {{ range $sortedPastSections }}
          {{ $pastEventsGroupFolder := . }}
          {{ $parts := split $pastEventsGroupFolder.File.Dir "/" }}
          {{ $year  := index $parts (sub (len $parts) 2) }}
          {{ $pages := $pastEventsGroupFolder.Pages }}
          {{ if gt (len $pages) 0 }}
            <li>
              <strong>{{ $year }}</strong>
              <ul>
                {{ range $pages }}
                  {{ $pastEvent := . }}
                  <li><a href="{{ $pastEvent.RelPermalink }}">{{ $pastEvent.Title }}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </section>
    <!-- #endregion -->
  {{ end }}
</main>
{{ end }}